@font-face {
    font-family: "Amatic SC";
    src:local("images/AmaticSC-Bold.ttf");
}

html {
            background-image: url("images/forest.jpg");
            background-color: rgba(51, 35, 15, 0.5);
        }


body {
    background-color:  rgba(0, 0, 0, 0.3);
            position: relative;

            font-family: 'Kiwi Maru', serif;
            font-size: 25px;
            text-align: center;
            color:rgba(250, 250, 210, 0.863);
}
           
.text { background-color:  rgba(0, 0, 0, 0.3);
  

}
button {
            color: black;        
            background-color:lightgoldenrodyellow;
            border: 2px solid black;
            font-size: 25px;
            border-radius: 8px;
}

div {
            padding: cm;
}